<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tag</title>
	<link rel="stylesheet" href="style1.css">
</head>
<body>
	<div id="main" v-cloak>
		<div v-bind:hidden="playerName == null">
			<h1>You are {{playerName}}. {{it}} is it.</h1>
			<canvas id="playfield" width="800" height="800">
				Sorry, your browser doesn't support canvas.
			</canvas>
			<div id="playerList">
				<h2>Players Online:</h2>
				<ul>
					<li v-for="(player, playerIndex) in playerList" v-on:click="removeTagster(playerIndex)" key="player.name">{{player.name}}</li>
				</ul>
				<button v-on:click="newTagster">Add new Tagster</button>
			</div>
		</div>
		<div v-bind:hidden="playerName != null">
			<h1>Welcome to Tag!</h1>
			<h3>Start playing:</h3>
			<label for="playerName">Player name: </label>
			<input name="playerName" type="text" v-model="tempPlayerName" v-on:keyup.enter="logIn" >
			<button v-on:click="logIn" v-bind:disabled="tempPlayerName == null">Join Game</button>
			<h3>What is Canvas Tag?</h3>
			<p>Canvas Tag is a simple online game of the playground classic. You control your player with WASD. Moving off the screen causes you to loop around to the other side (Pacman style). The green player is "It", which means they need to tag someone. Canvas Tag is made using HTML5 canvas, Vue, Socket.io, NodeJS, and Express.</p>
			<h3>Who are the Tagsters?</h3>
			<p>Once I had gotten the core game mechanics working, I started working on some bots to show off the game's functionality, even if I couldn't get anyone to play with me. The Tagsters are somewhat intelligent (in the loosest sense of the word) bots that roam the world of Canvas Tag. They know that when they are it, they must chase down the nearest player in sight to tag them, but I observed that making them flee the player currently it resulted in boring behavior (they would hide off the edge of the screen, if they had screen wrapping like the player, or else they would flock to the corners), so they instead move about at random when not it, periodically changing direction. I also determined that allowing the Tagsters to "tag back", so to speak, resulted in them getting stuck together, vibrating violently back and forth as they tagged each other back and forth repeatedly. So, I changed the behavior to make them remember who last tagged them and not pursue that player.</p>
			<h3>Source code</h3>
			<p><a href="https://github.com/wkneiszel/canvas-tag">Source Code</a> for Canvas Tag can be found in the linked GitHub repository</p>
		</div>
	</div>
</body>
<script src="vue.global.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="client.js" type="text/javascript"></script>
</html>