<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tag</title>
	<link rel="stylesheet" href="style1.css">
</head>
<body>
	<div id="main" v-cloak>
		<div v-bind:hidden="playerName == null">
			<h1>You are {{playerName}}. {{it}} is it.</h1>
			<canvas id="playfield" width="800" height="800">
				Sorry, your browser doesn't support canvas.
			</canvas>
			<div id="playerList">
				<h2>Players Online:</h2>
				<ul>
					<li v-for="player in playerList" key="player.name">{{player.name}}</li>
				</ul>
			</div>
		</div>
		<div v-bind:hidden="playerName != null">
			<h1>Welcome to Tag!</h1>
			<label for="playerName">Player name: </label>
			<input name="playerName" type="text" v-model="tempPlayerName" v-on:keyup.enter="logIn" >
			<button v-on:click="logIn" v-bind:disabled="tempPlayerName == null">Join Game</button>
			<p>Canvas Tag is a simple online game of the playground classic. You control your player with WASD. Moving off the screen causes you to loop around to the other side (Pacman style). The green player is "It", which means they need to tag someone. Canvas Tag is made using HTML5 canvas, Vue, Socket.io, NodeJS, and Express.</p>
			<a href="https://github.com/wkneiszel/canvas-tag">Source Code</a>
		</div>
	</div>
</body>
<script src="vue.global.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="client.js" type="text/javascript"></script>
</html>